@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@300;400;500;600;700&display=swap");

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-100%);
  }

  35% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }

  55% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }

  75% {
    transform: translateX(-400%);
  }
  90% {
    transform: translateX(-400%);
  }

  95% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(-500%);
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
}

body {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  box-shadow: 0px 5px 15px #888888;
}

nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

nav a {
  color: black;
  margin-left: 10px;
  text-decoration: none;
}

.logo-nav img {
  width: 100px;
  margin-left: 30px;
}

.opciones-nav {
}

.form {
  border-style: solid;
  border-color: black;
  margin-top: 100px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form h1 {
  text-align: center;
  color: black;
}

.form form {
  align-items: center;
  justify-content: center;
  color: black;
  padding: 10px;
}

.inventario {
  display: flex;
  flex-direction: column;
  color: black;
}

.inventario h2 {
  text-align: center;
}

.tablas {
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: space-between;
}

table {
  color: black;
  background-color: #ffffff;
  border-color: var(--color);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
}

th,
td {
  border: 1px solid;
  margin-left: 10px;
}

.pedidos {
  color: black;
  text-align: center;
  margin-bottom: 100px;
}

.pedidos table {
  width: 100%;
}

wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slides {
  position: relative;
  display: flex;
  overflow: hidden;
}

.slide {
  width: 100vw;
  flex-shrink: 0;
  animation-name: slide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slides:hover .slide {
  animation-play-state: paused;
}

.slide img {
  width: 100%;
  vertical-align: top;
  width: 500px;
}

.slide a {
  width: 100%;
  display: inline-block;
  position: relative;
}

.caption {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 8vw;
  position: absolute;
  bottom: 8vw;
  right: 4vw;
}

.slide:target {
  animation-name: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.slider-controler {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.slider-controler li {
  margin: 0 0.5rem;
  display: inline-block;
  vertical-align: top;
}

.slider-controler a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
  .slide {
    width: 1200px;
  }

  .caption {
    font-size: 96px;
    bottom: 96px;
    right: 50px;
  }
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.informacion {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: black;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#sabores {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #sabores td, #sabores th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #sabores tr:nth-child(even){background-color: #f2f2f2;}
  
  #sabores tr:hover {background-color: #ddd;}
  
  #sabores th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #decoraciones {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #decoraciones td, #decoraciones th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #decoraciones tr:nth-child(even){background-color: #f2f2f2;}
  
  #decoraciones tr:hover {background-color: #ddd;}
  
  #decoraciones th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #pedidos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #pedidos td, #pedidos th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #pedidos tr:nth-child(even){background-color: #f2f2f2;}
  
  #pedidos tr:hover {background-color: #ddd;}
  
  #pedidos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }