<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasteleria</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="nav-bar">
        <div class="logo-nav">
            <img src="../img/logo.jpg" alt="">
        </div>
        <div class="opciones-logo">
            <nav>
                <a href="../index.html">INICIO</a>
                <a href="../views/realizar-pedido.html">REALIZAR PEDIDO</a>
                <a href="dashboard.html">DASHBOARD</a>
            </nav>
        </div>
    </div>
    <div class="inventario">
        <h2>Inventario</h2>
        <div class="tablas">
            <table id="sabores">
                <tr>
                    <th>Sabores</th>
                    <th>Cantidad (Kg.)</th>
                </tr>
                <tr>
                    <td>Vainilla</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Chocolate</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Zanahoria</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Limon</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Platano</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>Fresa</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Naranja</td>
                    <td>4</td>
                </tr>
            </table>
            <table id="decoraciones">
                <tr>
                    <th>Decoraciones</th>
                    <th>Cantidad </th>
                </tr>
                <tr>
                    <td>Base giratoria</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Base carton</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Velas</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Velas letras</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Letras Cumpleaños</td>
                    <td>5</td>
                </tr>            
            </table>
        </div>
    </div>

     <div class="pedidos">
        <h2>Pedidos</h2>
        <div class="tablas">
            <table id="pedidos">
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Sabor(es)</th>
                    <th>Decoracion(es)</th>
                    <th>Descripcion</th>
                </tr>
                <tr>
                    <td>Daniel Cortez</td>
                    <td>(967) 784 5411</td>
                    <td>danycortez@test.com</td>
                    <td>Limon, Platano</td>
                    <td>Velas</td>
                    <td>Que sea de color azul</td>
                </tr>
                <tr>
                    <td>Juan Guevara</td>
                    <td>(874) 714 2011</td>
                    <td>juang87@test.com</td>
                    <td>Naranja</td>
                    <td>Velas, Base giratoria</td>
                    <td>Que tenga betun color naranja</td>
                </tr><tr>
                    <td>Elena Martinez</td>
                    <td>(897) 874 2101</td>
                    <td>eleMar@test.com</td>
                    <td>Chocolate</td>
                    <td>Velas, Velas Cumpleaños</td>
                    <td>Usar azucar esplenda</td>
                </tr>                          
            </table>
        </div>
    </div>

</body>

</html>